variable "instanceType" {
  type    = "string"
  default = "t2.nano"
}

variable "contact" {
  type = "string"
  default = "Dror Atariah"
}

variable "department" {
  type = "string"
  default = "Best ever"
}

variable "subnet" {
  default = "subnet-77777"
}

variable "securityGroup" {
  type = "string"
  default = "sg-ffffff"
}

resource "aws_instance" "dask-scheduler" {
  ami                         = "ami-4cbe0935"
  instance_type               = "${var.instanceType}"
  key_name                    = "dask_poc"
  security_groups             = ["${var.securityGroup}"]
  subnet_id                   = "${var.subnet}"
  associate_public_ip_address = true
  private_ip                  = "172.31.37.190"
  user_data                   = "${file("scheulder_setup.sh")}"
  tags {
    Name = "example-dask-scheduler",
    Department = "${var.department}",
    contact = "${var.contact}"
  }
}

resource "aws_instance" "dask-worker" {
  count                       = 2
  ami                         = "ami-4cbe0935"
  instance_type               = "${var.instanceType}"
  key_name                    = "dask_poc"
  subnet_id                   = "${var.subnet}"
  security_groups             = ["${var.securityGroup}"]
  associate_public_ip_address = true
  user_data                   = "${file("worker_setup.sh")}"
  tags {
    Name = "example-dask-worker${count.index}",
    Department = "${var.department}",
    contact = "${var.contact}"
  }
}

output "scheduler-info" {
  value = "${aws_instance.dask-scheduler.public_ip}"
}
